$mq1200: 1200px;
$mq1023: 1023px;
$mq767: 767px;
$mq480: 480px;
$templateColor: #073763;
$templateColor2: #f3961a;

//
$eletronicWidth: 30%;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #efefef;
  color: #fff;
}

//
.bgc{
 
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  &::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .9;
    background-color: rgba(0, 0, 0, 0.65);
  }

  video{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    // height: 100%;

    @media screen and (max-width: 2048px){
      width: 177%;
    }
  }
}

//
.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 35%;
  min-height: 413px;
  max-height: 413px;
  width: 985px;
  max-width: 985px;
  background-color: $templateColor;
  // padding: 10px 15px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.13);

  .loginInfo{
      width: 57%;
      overflow: hidden;
      padding-top: 80px;
      padding-left: 121px;
      clear: both;
      // border: 1px solid blue;

      .eletronic{
        float: left;
        width: $eletronicWidth;
        text-align: right;
        padding-right: 24px;
        // border: 1px solid red;

        img{
          width: 90px;
          height: 70px;
        }
      }
      .font{
        float: left;
        width: (100% - $eletronicWidth);
        // border: 1px solid yellow;
        font-size: 20px;

        .logo{
          max-width: 100%;
        }


        p{
          &:nth-of-type(1){
            font-size: 40px;
            letter-spacing: 3px;
            font-weight: 900;
            display: block;
            margin-right: auto;
            width: 275px;

             &::after{
               content: '';
               display: block;
              margin-top: 30px;
              width: 100%;
              height: 6px;
              background-color: $templateColor2;
              transform: skewX(-20deg);
              animation-duration: 2s;
              animation-iteration-count: 1;
              animation-timing-function: ease;
              animation-name: widthStyle;
              
              @keyframes widthStyle {
                0% {
                    width: 0;
                }

                100% {
                    width: 100%;
                }
              }
            }
           }
           

          &:nth-of-type(2){
            padding-top: 40px;
          }
          &:nth-of-type(3){
            padding-top: 1px;
          }
          
        }

        .info{
          padding-top: 60px;
        }

      }
  }
  .loginForm{
    position: absolute;
    top: -4%;
    left: 61%;
    transform: translate(-7%, 0%);


    min-height: 108%;
    min-width: 360px;
    background-color: #fff;
    color: black;
    z-index: 1;
    padding: 0 15px;
    box-shadow: 0px 10px 21px 5px rgba(0, 0, 0, 0.4);

    >h1{
      text-align: left;
      padding-top: 74px;
      padding-bottom: 10px;
      padding-left: 54px;
      // color: $templateColor;
      font-size: 22px;
      color: #9c9c9c;
      font-weight: 900;
      display: block;
      margin: 0 auto;
      width: 100%;
      

      // &::after{
      //   content: '';
      //   width: 80%;
      //   height: 3px;
      //   display: block;
      //   background-color: $templateColor2;
      //   margin: 5px auto 0;
      // }
    }



    .box {
      width: 400px;
      // background-color: #fff;
      padding: 40px;
      border: 1px solid rgca(0, 0, 0, 0.1);
      // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

      // h2 {
      //   margin: 0 auto 40px;
      //   padding: 0;
      //   color: $templateColor;
      // }

      input {
        padding: 10px 0;
        margin-bottom: 30px;
      }

      textarea {
        height: 80px;
        padding: 10px 0;
        margin-bottom: 40px;
      }

      input,
      textarea {
        box-sizing: border-box;
        width: 100%;
        box-shadow: none;
        outline: none;
        border: none;
        border-bottom: 2px solid #eee;
        transition-property: border-bottom, top, left, color;
        transition-duration: .4s;
        transition-timing-function: ease;


        // 移動
        // 搭配 required tag
        // &:valid ~ label,
        &:focus ~ label {
          top: -12px;
          left: 0;
          color: $templateColor;
          font-size: 12px;
          font-weight: bold;
        }

        // &:valid,
        &:focus {
          border-bottom: 2px solid $templateColor;
        }
      }

      [type='submit'] {
        border: none;
        cursor: pointer;
        background-color: $templateColor;
        color: #fff;
        margin-bottom: 0;
        width: 100%;
        padding: 10px 0;
        letter-spacing: 5px;
        font-weight: 700;
      }

      form {
        div {
          position: relative;

          label {
            position: absolute;
            top: 10px;
            left: 0;
            color: #999;
            transition: top 0.2s ease-in-out;
            pointer-events: none;
          }
        }
      }
    }

  }
}



// 
// .borr-10{
//   border-radius: 10px;
// }
// .borr-5{
//   border-radius: 5px;
// }


.animFadeInRight{
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-name: fadeInRight;
  @keyframes fadeInRight {
      0% {
          // opacity: 0;
          transform: translateX(100%);
      }
  
      100% {
          // opacity: 1;
          transform: translateX(-7%);
      }
  }
}

.animFadeIn{
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-name: fadeIn;
  
  @keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
  }
}