$mq1200: 1200px;
$mq1023: 1023px;
$mq767: 767px;
$mq480: 480px;
$templateColor: #073763;
$templateColor2: #f3961a;

//
$eletronicWidth: 30%;
$eletronicWidth2: 35%;
$eletronicWidth3: 33%;
$eletronicWidth4: 36%;

// -- 標題距離 --
$loginInfoMargin: 25px;
$loginFormMargin: #{ 95px + $loginInfoMargin };

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #efefef;
  color: #fff;
}

//
.bgc {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.65);
  }

  video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    // height: 100%;

    @media screen and (max-width: 2048px) {
      width: 177%;
    }
  }
}

//
.login.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 35%;
  min-height: 413px;
  max-height: 413px;
  width: 985px;
  max-width: 985px;
  background-color: $templateColor;
  // padding: 10px 15px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.13);

  @media screen and (max-width: $mq1023) {
    min-height: auto;
    max-height: none;
    height: 100%;
    transform: none;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }

  .loginInfo {
    width: 57%;
    overflow: hidden;
    padding-top: 80px;
    padding-left: 121px;
    clear: both;
    // border: 1px solid blue;
    margin-top: 20px;

    @media screen and (max-width: $mq1023) {
      width: 100%;
      // text-align: center;
      padding-top: 0;
      padding-left: 0;
      margin-top: 0;
      position: absolute;
      top: $loginInfoMargin;
      left: 50%;
      transform: translate(-50%, 0%);
      max-width: 433px;
    }

    @media screen and (max-width: $mq480) {
      min-width: 344px;
    }

    .eletronic {
      float: left;
      width: $eletronicWidth;
      text-align: right;
      padding-right: 40px;
      // border: 1px solid red;

      @media screen and (max-width: $mq1023) {
        width: $eletronicWidth2;
      }
      @media screen and (max-width: $mq767){
        width: $eletronicWidth3;
      }
      @media screen and (max-width: $mq480){
        width: $eletronicWidth4;
        padding-right: 30px;
      }

      img {
        $imgRate: 0.7777777777;
        width: 90px;
        height: 70px;

        @media screen and (max-width: $mq480){
          width: 70px;
          height: #{70px * $imgRate};
        }
      }
    }
    .font {
      float: left;
      width: (100% - $eletronicWidth);
      // border: 1px solid yellow;
      font-size: 18px;

      @media screen and (max-width: $mq1023) {
        width: (100% - $eletronicWidth2);
      }
      @media screen and (max-width: $mq767){
        width: (100% - $eletronicWidth3);
      }
      @media screen and (max-width: $mq480){
        width: (100% - $eletronicWidth4);
      }

      .logo {
        max-width: 100%;

        > img {
          width: 75px;
        }
      }

      p {
        &:nth-of-type(1) {
          font-size: 40px;
          letter-spacing: 2px;
          font-weight: 900;
          display: block;
          margin-right: auto;
          width: 275px;

          @media screen and (max-width: $mq480){
            font-size: 30px;
            width: 80%;
          }

          &::after {
            content: "";
            display: block;
            margin-top: 30px;
            width: 100%;
            height: 6px;
            background-color: $templateColor2;
            transform: skewX(-20deg);
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-name: widthStyle;

            @keyframes widthStyle {
              0% {
                width: 0;
              }

              100% {
                width: 100%;
              }
            }

            @media screen and (max-width: $mq1023) {
              margin-top: 0;
            }
          }
        }

        &:nth-of-type(2) {
          padding-top: 40px;

          @media screen and (max-width: $mq1023) {
            // margin-top: 378px;
            margin-top: 340px;
          }

          @media screen and (max-width: $mq480){
            margin-top: 350px;
          }
        }
        &:nth-of-type(3) {
          padding-top: 1px;
        }
      }

      .info {
        padding-top: 60px;
      }
    }
  }
  .loginForm {
    position: absolute;
    top: -4%;
    left: 61%;
    transform: translate(-7%, 0%);

    min-height: 108%;
    min-width: 360px;
    background-color: #fff;
    color: black;
    z-index: 1;
    padding: 0 15px;
    box-shadow: 0px 10px 21px 5px rgba(0, 0, 0, 0.4);

    @media screen and (max-width: $mq1023) {
      top: $loginFormMargin;
      min-height: auto;
      min-width: auto;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    @media screen and (max-width: $mq480) {
      // width: 75%;
      width: 85%;
    }

    > h1 {
      text-align: left;
      padding-top: 74px;
      padding-bottom: 10px;
      padding-left: 54px;
      // color: $templateColor;
      font-size: 22px;
      color: #9c9c9c;
      font-weight: 900;
      display: block;
      margin: 0 auto;
      width: 100%;

      @media screen and (max-width: $mq1023) {
        padding-top: 37px;
      }

      // &::after{
      //   content: '';
      //   width: 80%;
      //   height: 3px;
      //   display: block;
      //   background-color: $templateColor2;
      //   margin: 5px auto 0;
      // }
    }

    .box {
      width: 400px;
      // background-color: #fff;
      padding: 40px;
      // border: 1px solid rgba(0, 0, 0, 0.1);
      // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

      // h2 {
      //   margin: 0 auto 40px;
      //   padding: 0;
      //   color: $templateColor;
      // }

      @media screen and (max-width: $mq480) {
        padding: 40px 10px;
        width: 100%;
      }

      input {
        padding: 10px 0;
        margin-bottom: 30px;
      }

      textarea {
        height: 80px;
        padding: 10px 0;
        margin-bottom: 40px;
      }

      input,
      textarea {
        box-sizing: border-box;
        width: 100%;
        box-shadow: none;
        outline: none;
        border: none;
        border-bottom: 2px solid #eee;
        transition-property: border-bottom, top, left, color;
        transition-duration: 0.4s;
        transition-timing-function: ease;

        // 移動
        // 搭配 required tag
        // &:invalid ~ label, // 若網頁會自動填值，要開啟這個
        &:valid ~ label,
        &:focus ~ label {
          top: -12px;
          left: 0;
          color: $templateColor;
          font-size: 12px;
          font-weight: bold;
        }

        // &:valid,
        &:focus {
          border-bottom: 2px solid $templateColor;
        }
      }

      [type="button"],
      [type="submit"] {
        border: none;
        cursor: pointer;
        background-color: $templateColor;
        color: #fff;
        margin-bottom: 0;
        width: 100%;
        padding: 10px 0;
        letter-spacing: 5px;
        font-weight: 700;
        
        &:focus {
          box-shadow: 0 0 0 0.2rem rgba($templateColor, 0.5);
        }
      }

      form {
        div {
          position: relative;

          label {
            position: absolute;
            top: 10px;
            left: 0;
            color: #999;
            transition: top 0.2s ease-in-out;
            pointer-events: none;
          }
        }
      }
    }
  }
}

.borr-10 {
  border-radius: 10px;
}
.borr-5 {
  border-radius: 5px;
}

.animFadeInRight {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-name: fadeInRight;
  @media screen and (max-width: $mq1023){
    animation-duration: 1s;
    animation-name: eedf346c;
  }

  
  @keyframes fadeInRight {
    0% {
      // opacity: 0;
      transform: translateX(100%);
    }

    100% {
      // opacity: 1;
      transform: translateX(-7%);
    }
  }
  @keyframes eedf346c{
    0%{
      opacity: 0;
      transform: translate(-50%, -15%);
    }
  }
}

.animFadeIn {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-name: fadeIn;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
